<h1><%= t("page_header.user_edit") %></h1>

<div class="row">
  <div class="col-md-6">
    <%= render "form" %>
    <div class="buffer-top">
      <%= link_to t("links.change_password"), edit_user_registration_path %>
    </div>
  </div>
</div>