body {
  padding-bottom: 40px;
}

.buffer-top {
  margin-top: 20px;
  .btn { margin-right: 10px; } 
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
  .btn { margin-right: 10px; } 
}

.img-icon, .img-icon-small {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 27px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 20px 10px 10px;
}
.event-info-inner {
  padding: 1rem;
  border-radius: 5px;
}
.col-12 {
  &>form {
    width: 50%;
  }
}
#error_explanation, .field_with_errors {
  color: #dc3545;
}
select {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}
.col-12 {
  & > .alert {
    width: 50%;
  }
}

.field_with_errors {
  input {
    border-color: #dc3545;
  }
}

#event_datetime {
  cursor: pointer;
}

.user-avatar {
  .img-icon {
    margin-top: -2px;
    height: 20px;
  }
}

.navbar {
  box-shadow: 0px 1px 4px rgba(0,0,0,.3);
}

.event-subscriptions {
  .subscription {
    margin-bottom: 1rem;
  }
}

.comments-collection {
  .comment-item {
    background: #ececec;
    padding: 10px 15px;
    margin-bottom: 1.5rem;
    border-radius: 7px;
    position: relative;
  }
  .comment-details {
    margin-bottom: 1rem;
  }
  .delete-comment {
    text-decoration: none !important;
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 2em;
    line-height: 15px;
  }
  .comment-author {
    font-weight: bold;
  }
}